.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 39, 50, 0.61);
    z-index: 0;
    &__promo {
        background: rgba(31, 39, 50, 0.81);
    }
    &__about {
        background: rgba(31, 39, 50, 0.61);
    }
    // &__form {
    //     top: 100000px;
    // }
}